# distributions
dist/*
Generated

# codebase
node_modules
tsconfig.tsbuildinfo

# macOS
.DS_Store

# tests
test

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions