@utility chip-* {
    display: inline;
    padding: 5px 12px;
    background-color: --value(--color-*);
    background-color: --value([color]);
    @apply text-center;
    @apply rounded-full;
    @apply text-xs;
}
